.home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.home-hero{
    font-size: 6rem;
    text-align: right;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home .btn-lblue{
    margin-top: 5rem;

}

@media (max-width: 767px){
    .home img{
        display: none;
    }
    .home-hero{
        text-align: center;
        justify-content: center;
    }
    .home-hero p{
        width: 100%;
    }
    .home .btn-lblue{
        margin-top: 10rem;
    }
}
@media (min-width: 768px) and (max-width: 800px){
    
    .home-hero{
        font-size: 5rem;
    }
    .home-hero img{
        transform: scale(0.9);
    }
}