.success {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #8fe381;
  display: flex;
  justify-content: center;
  align-items: center;
}
.success p {
  font-size: 6rem;
  color: white;
  font-weight: 400;
}
